/* background color */
body {
  background-color: #ffe5b4;
}

/* opacity for imprint text */
.ImprintSection {
  color: #000; /* Fallback */
  color: rgba(0, 0, 0, 0.5);
}

/* opacity for imprint headers */
.ImprintHeaders {
  color: #000; /* Fallback */
  color: rgb(0, 0, 0, 0.7);
}

/* Trennlinie über footer */
footer {
  border-top: 1px solid black;
  padding-top: 10px;
}

/* Alignment Nav */
.navElement {
  display: inline-block;
  padding-right: 10px;
}

/* Divider below header */
.DividerLineHeader {
  border-bottom: 1px solid black;
  padding-top: 10px;
}

/* Divider below nav */
.DividerLineNav {
  border-bottom: 1px solid black;
  padding-top: 10px;
}

.MaoMaoImage {
  position: absolute;
  left: 15px;
  top: 15px;
}

.MaoMaoImage img{
  width: 65px;
}

.LukeImage img{
  width: 100px;
}

.JohannImage img{
  width: 100px;
}

.NiclasImage img{
  width: 100px;
}

.LukeText {
  margin-left: 0px;
  margin-top: 0px;
}

h1 {
  text-align: left;
  margin-left: 85px;
  margin-top: 10px;
}
