/* background color */
header {
  background-color: #ab5841;
  margin-left: -22px;
}

body {
  font-family: 'Baskerville';
  background-color: #ffe7d7;
}

/* opacity for imprint text */
.ImprintSection {
  color: #000; /* Fallback */
  color: rgba(0, 0, 0, 0.5);
}

/* opacity for imprint headers */
.ImprintHeaders {
  color: #000; /* Fallback */
  color: rgb(0, 0, 0, 0.7);
}

.ImprintLink {
  margin-left: 22px;
}

/* Trennlinie über footer */
footer {
  border-top: 3px solid #75261a;
  padding-top: 10px;
  background-color: #ab5841;
  margin-left: -22px;
}

/* Alignment Nav */
.navElement {
  display: inline-block;
  padding-right: 10px;
  color: white;
}

/* Divider below header */
.DividerLineHeader {
  border-bottom: 3px solid #75261a;
  padding-top: 10px;
}

/* Divider below nav */
.DividerLineNav {
  border-bottom: 3px solid #75261a;
  padding-top: 10px;
}

/* Logo settings */
.MaoMaoImage img {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 65px;
}

/* Luke About settings */
.LukeImage img {
  width: 100px;
}

/* Johann About settings */
.JohannImage img {
  width: 100px;
}

/* Niclas About settings */
.NiclasImage img {
  width: 100px;
}

/* Luke Text settings */
.LukeText {
  margin-left: 0px;
  margin-top: 0px;
}

/* Seitenüberschrift Settings */
h1 {
  text-align: left;
  margin-left: 110px;
  margin-top: 10px;
  color: white;
}
