/* header settings */
header {
  background-color: #ab5841;
  width: 100%;
}
/* background settings */
body {
  overflow-x: hidden;
  font-family: 'Baskerville';
  background-color: #ffe7d7;
  width: 100%;
  margin: 0px;
  color: #75261a;
}

/* Sticky Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #75261a;
  background-color: #ab5841;
}

/* Verhindert jegliches horizontale Scrollen */
* {
  box-sizing: border-box; /* Sorgt dafür, dass Padding und Border die Breite nicht erweitern */
}

/* Index Flex Start */
.IndexMainFlex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item1 {
  align-self: center;
  margin: 0;
  order: 0;
  width: 100%;
}

.item1 img {
  width: 100%;
  height: auto;
  display: block;
}

.item2 {
  padding-left: 1.5%;
}
/* Index Flex End */

/* Navigation Flex Start */
.Buttons {
  display: flex;
  align-items: start;
  padding-left: 20px;
}
/* Navigation Flex End */

/* last Flex-Container */
.ImprintLink {
  display: flex;
  justify-content: start;
}

/* Container About settings */

.grid-container {
  display: grid;
  /* !!! Bennannte Grid-Linie */
  grid-template-columns: 145px 1fr 1fr;
  grid-template-rows: 50px 1fr 50px 1fr 50px 1fr 1fr;
}

/* Luke Items */

/* headline */
.itemLuke1 {
  grid-area: 1 / 1 / 1 / span 2;
}

/* Image */
.itemLuke2 {
  grid-area: 2 / 1 / 2 / 1;
  gap: 30%;
}

/* Text */
.itemLuke3 {
  grid-area: 2 / 2 / 2 / 2;
}

.item-LukeImage img {
  width: 100px;
}
/* Luke Items End */

/* Niclas Items */

/* headline */
.itemNiclas1 {
  grid-area: 3 / 1 / 3 / span 2;
}

/* Image */
.itemNiclas2 {
  grid-area: 4 / 1 / 4 / 1;
}

/* Text */
.itemNiclas3 {
  grid-area: 4 / 2 / 4 / 2;
}

.item-NiclasImage img {
  width: 100px;
}
/* Niclas Items End */

/* Johann Item */

/* headline */
.itemJohann1 {
  grid-area: 5 / 1 / 5 / span 2;
}

/* Image */
.itemJohann2 {
  grid-area: 6 / 1 / 6 / 1;
}

/* Text */
.itemJohann3 {
  grid-area: 6 / 2 / 6 / 2;
}

.item-JohannImage img {
  width: 100px;
}
/* Johann Items End */

/* Grid Item !! Hier ist verschachtelt */
.itemGridContainer {
  grid-area: 7 / 1 / 7 / span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.itemInsideGrid {
  grid-area: 1 / 1 / 1 / 1;
}
/* Grid Item End */

/* Mobile */
@media (max-width: 470px) {
  .Buttons {
    align-items: center;
    flex-flow: column nowrap;
  }

  .item1 img {
    width: 100%; /* Stellt sicher, dass das Bild die volle Breite des Viewports auf mobilen Geräten einnimmt */
    height: auto;
  }

  .item1 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .BigTitel {
    font-size: 170%;
  }

  .MaoMaoImage img {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 60px;
  }


}

@media (min-width: 471px) and (max-width: 1080px) {
  .Buttons {
    align-items: center;
    flex-flow: row nowrap;
  }

  .item1 img {
    width: 100%; /* Stellt sicher, dass das Bild die volle Breite des Viewports auf mobilen Geräten einnimmt */
    height: auto;
  }

  .item1 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .BigTitel {
    font-size: 190%;
  }

  .MaoMaoImage img {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 65px;
  }

}

@media (min-width: 1081px) and (max-width: 1919px) {
  .Buttons {
    align-items: center;
    flex-flow: row nowrap;
    gap: 1.5%;
  }

  .item1 img {
    width: 100%; /* Stellt sicher, dass das Bild die volle Breite des Viewports auf mobilen Geräten einnimmt */
    height: auto;
  }

  .item1 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .MainText {
    font-size: 1.2vw;
  }

  .BigTitel {
    font-size: 200%;
  }

  .MaoMaoImage img {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 70px;
  }

  .grid-container {
    display: grid;
    /* !!! Bennannte Grid-Linie */
    grid-template-columns: 13% 1fr 1fr;
    grid-template-rows: 10% 1fr 10% 1fr 10% 1fr 1fr;
  }

  .itemLuke1 {
    font-size: 1.5vw;
  }

  .item-LukeImage img {
    width: 90%;
  }

  .itemLuke3 {
    font-size: 1.5vw;
  }

  .itemNiclas1 {
    font-size: 1.5vw;
  }

  .item-NiclasImage img {
    width: 90%;
  }

  .itemNiclas3 {
    font-size: 1.5vw;
  }

  .itemJohann1 {
    font-size: 1.5vw;
  }

  .item-JohannImage img {
    width: 90%;
  }

  .itemJohann3 {
    font-size: 1.5vw;
  }

  .TeamHeader {
    font-size: 2vw;
  }

}

@media (min-width: 1920px) {
  .Buttons {
    align-items: center;
    flex-flow: row nowrap;
  }

  * {
    box-sizing: border-box;
  }

  .item1 img {
    width: 100%; /* Stellt sicher, dass das Bild die volle Breite des Viewports auf mobilen Geräten einnimmt */
    height: auto;
  }

  .item1 {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .MainText {
    font-size: 1.5vw;
  }

  .Buttons {
    display: flex;
    align-items: start;
    padding-left: 20px;
    gap: 4%;
    font-size: 1.5vw;
  }

  .BigTitel {
    font-size: 3.5vw;
    padding-left: 30px;
  }

  .MaoMaoImage img {
    position: absolute;
    left: 15px;
    top: 10px;
    width: 5vw;
  }

  .grid-container {
    display: grid;
    /* !!! Bennannte Grid-Linie */
    grid-template-columns: 13% 1fr 1fr;
    grid-template-rows: 10% 1fr 10% 1fr 10% 1fr 1fr;
  }

  .itemLuke1 {
    font-size: 1.5vw;
  }

  .item-LukeImage img {
    width: 90%;
  }

  .itemLuke3 {
    font-size: 1.5vw;
  }

  .itemNiclas1 {
    font-size: 1.5vw;
  }

  .item-NiclasImage img {
    width: 90%;
  }

  .itemNiclas3 {
    font-size: 1.5vw;
  }

  .itemJohann1 {
    font-size: 1.5vw;
  }

  .item-JohannImage img {
    width: 90%;
  }

  .itemJohann3 {
    font-size: 1.5vw;
  }
  
  .itemInsideGrid {
    font-size: 1.5vw;
  }

  .TeamHeader {
    font-size: 2vw;
  }
}

/* opacity for imprint text */
.ImprintSection {
  color: #000; /* Fallback */
  color: rgba(0, 0, 0, 0.5);
}

/* opacity for imprint headers */
.ImprintHeaders {
  color: #000; /* Fallback */
  color: rgb(0, 0, 0, 0.7);
}

/* Alignment Nav */
.navElement {
  display: inline-block;
  padding-right: 10px;
  color: white;
}

/* Divider below header */
.DividerLineHeader {
  border-bottom: 3px solid #75261a;
  padding-top: 25px;
  width: 100%;
}

/* Divider below nav */
.DividerLineNav {
  border-bottom: 3px solid #75261a;
  padding-top: 10px;
  width: 100%;
}


/* Seitenüberschrift Settings */
h1 {
  text-align: left;
  margin-left: 110px;
  margin-top: 10px;
  color: white;
}



/* Navigation Buttons */
.NavButtons {
  background-color: #ab5841;
  font-family: Baskerville;
  font-size: 130%;
  color: white;
  border: none;
  transition-duration: 0.8s;
}

.NavButtons:hover {
  background-color: #854533;
  color: white;
  cursor: pointer;
  text-decoration: underline;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.NavButtonsVariant {
  background-color: #6734267b;
  font-family: Baskerville;
  font-size: 130%;
  color: white;
  border: none;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #49180c;
  }
  
  body {
  color: #e7c0ba;
  background-color: #2d0e09;
  }

  footer {
    background-color: #2d0e09;
  }

  .NavButtons {
    background-color: #6734267b;
    color: #e7c0ba;
  }
  
  .NavButtons:hover {
    background-color: #6734267b;
    color: #e7c0ba;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 #e7c0ba;
  }
  
  .NavButtonsVariant {
    background-color: #854533;
    color: #e7c0ba;
  }

}
